.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #06286a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  background-color: rgb(137, 215, 234);
  max-width: 400px;
  margin: 60px auto;
  padding: 60px 50px;
  box-shadow: 2px 5px 10px rgba(16, 1, 1, 0.5);
}

body {
  background-color: #3e8ccc;
  
  font-family: Verdana;
  text-align: center;
}

.form-control {
  text-align: left;
  margin-bottom: 25px;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}

button {
  background-color: #666b69;
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  font-size: 20px;
  display: block;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}